/* Webfont: SpartanMB-ExtraBold */@font-face {
    font-family: 'SpartanExtBd';
    src: url('SpartanMB-ExtraBold.eot'); /* IE9 Compat Modes */
    src: url('SpartanMB-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('SpartanMB-ExtraBold.woff') format('woff'), /* Modern Browsers */
         url('SpartanMB-ExtraBold.woff2') format('woff2'), /* Modern Browsers */
         url('SpartanMB-ExtraBold.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

