/* Webfont: SpartanMB-ExtraLight */@font-face {
    font-family: 'SpartanExtLt';
    src: url('SpartanMB-ExtraLight.eot'); /* IE9 Compat Modes */
    src: url('SpartanMB-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('SpartanMB-ExtraLight.woff') format('woff'), /* Modern Browsers */
         url('SpartanMB-ExtraLight.woff2') format('woff2'), /* Modern Browsers */
         url('SpartanMB-ExtraLight.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

