/* Webfont: SpartanMB-Black */@font-face {
    font-family: 'SpartanBlack';
    src: url('SpartanMB-Black.eot'); /* IE9 Compat Modes */
    src: url('SpartanMB-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('SpartanMB-Black.woff') format('woff'), /* Modern Browsers */
         url('SpartanMB-Black.woff2') format('woff2'), /* Modern Browsers */
         url('SpartanMB-Black.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

