/* Webfont: SpartanMB-Light */@font-face {
    font-family: 'SpartanLight';
    src: url('SpartanMB-Light.eot'); /* IE9 Compat Modes */
    src: url('SpartanMB-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('SpartanMB-Light.woff') format('woff'), /* Modern Browsers */
         url('SpartanMB-Light.woff2') format('woff2'), /* Modern Browsers */
         url('SpartanMB-Light.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

